---
title: Press

# true if the page is included in the menu
listed: true
# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block content %}
  <h1>Intermezzo Bar + Café</h1>
  {% editable_long_text 'content' %}{% endeditable_long_text %}

  <section id="articles">
    {% for article in contents.articles %}
    <article>
      <h2>{{ article.date | date: "%m.%d.%Y" }} - {% if article.source != "" %}{{ article.source }}, {% endif %}<em>{{ article.title }}</em></h2>
      <div>
        {{ article.body }}
        {% if article.url != '' %}<p class="more-link"><a href="{{ article.url }}" rel="external">Read more...</a></p>{% endif %}
      </div>
    </article>
    {% endfor %}
  </section>
  
{% endblock %}
